
@model ProductItem
@{
    ViewData["Title"] = "Edit Product Item";
}
<h1>@ViewData["Title"]</h1>

<p>This page edit Carousel Item.</p>

@{
    ViewBag.Action = nameof(ProductController.Edit);
}

<partial name="CreateEditForm" model="Model">
